@charset "utf-8";
/* CSS Document */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

    /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about-header{
	margin-top:0px;	
	}  
}

    /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	
	.text-vertical-center h1{
		font-size:4em;
	}
	#about h2{
		font-size:1.8em;
	} 
	
	#responsive-showcase h3{
		font-size:24px;
	}  
	
	.about-header{
	margin-top:0px;	
	}  
}

    /* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.text-vertical-center h1{
		font-size:3em;
	}
	
	.text-vertical-center h2{
		font-size:18px;
		letter-spacing:1px;
	}  
	
	#about h2{
		font-size:1.8em;
	}   
	
	#responsive-showcase h3{
		font-size:1.5em;
	}  
	
	.btn-primary{
		width:120px;
		height:40px;
		font-size:14px;
		text-align:center;
	}
	
	.list-unstyled span {
		font-size: 130%;
	}
	
	.about-header{
	margin-top:0px;	
	}  

    /* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}
